@use "../_partials/mixins";
.intro-content {
  --max-width: 1312px;
  --padding: 1rem;
  width: min(var(--max-width), 100%);
  margin-inline: auto;
}

.services-list-grid {
  .grid-row-1 {
    // display: flex;
    // flex-wrap: wrap;

    .fs-section-headline {
      // max-width: 200px;
    }
    .services-list {
      // display: flex;
    }
  }

  .grid-row-2 {
  }
}

@include mixins.minmq(50em) {
  .services-list-grid {
    .grid-row-1 {
      display: flex;
      flex-wrap: wrap;

      .fs-section-headline {
        max-width: 200px;
      }
      .services-list {
        display: flex;
      }
    }

    .grid-row-2 {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
