@use "../_abstracts/colors";
@use "../_partials/mixins";
@use "../_partials/root";

/* TYPOGRAPHY */
$bodyFontFamily: var(--ff-body) !important;
$titleFontFamily: var(--ff-secondary);
$fontStack: var(--ff-body);

.ff-title{
    font-family: $titleFontFamily;
}

.ff-body{
    font-family: $bodyFontFamily;
}