.brand-logo {
  width: calc(var(--size-600) * 5);
  margin-bottom: calc(var(--size-600) * 2);
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="search"],
select{
  &.form-control, &.form-select {
    border: 1px solid var(--clr-accent-50);
    height: 45px;
    border-radius: 5px;
    &:focus {
      outline: 0;
      box-shadow: none;
      border: 1px solid var(--clr-primary-500);
    }
  }
}

button {
  height: 45px;
}


.login-card{
    max-width: 500px;
    margin: 0 auto;
}