.button {
  color: var(--clr-neurtral-500);
  background-color: var(--clr-primary-500);
  padding: 0.8em 1.8em;
  border: 0;
  border-radius: 5px;
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-button);
  line-height: 1;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    background-color: var(--clr-primary-600);
  }
}

a.button {
  display: inline-block;
}
.cta {
  border-radius: 100vmax;
}
