// .btn{
//   &:focus{
//     outline: 0;
//     box-shadow: 0;
//   }
// }

button {
  &.navbar-toggler {
    border: none;
    &:focus {
      outline: 0;
      box-shadow: unset;
    }

    .feather-menu {
      display: block;
    }
    .feather-x {
      display: none;
    }

    &[aria-expanded="true"] {
      .feather-menu {
        display: none;
      }
      .feather-x {
        display: block !important;
      }
    }
  }
}

.button, a.button {
  color: var(--clr-neutral-500);
  background-color: var(--clr-primary-500);
  padding: 0.8em 1.8em;
  border: 0;
  border-radius: 5px;
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-button);
  line-height: 1;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    background-color: var(--clr-primary-600);
  }
}

.button[data-type="inverted"] {
  background-color: var(--clr-neutral-500);
  color: var(--clr-primary-500);
  // border: 2px solid var(--clr-neutral-500);
  border: 2px solid var(--clr-primary-500);
}

a.button {
  display: inline-block;
}
.cta {
  border-radius: 100vmax;
}
