@use "../_partials/mixins";

.feature-card {
  overflow: hidden;
  position: relative;
  &:hover{
    img{
      transform: scale(1.1);
    }
  }
  img {
    transform: scale(1);
    position: relative;
    z-index: 0;
    transition: transform .5s ease-in-out;
  }
  .title {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 10;
    bottom: var(--size-400);
    span {
      font-weight: var(--fw-semi-bold);
      background-color: rgba(0, 0, 0, 0.5);
      display: inline-block;
      color: var(--clr-neutral-500);
      font-size: var(--fs-50);
      line-height: var(--size-500);
      padding: var(--size-200) var(--size-200);
      border-radius: var(--size-200);
    }
  }
  @include mixins.minmq(50em) {
    .title {
      span {
        line-height: var(--size-500);
        padding: var(--size-200) var(--size-300);
        border-radius: var(--size-200);
      }
    }
  }
}

.review-card {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  line-height: calc(var(--size-400) + var(--size-200));
  .review-footer {
    position: relative;
    .foot-image{
      width: 60px;
      height: 60px;
      border-radius: 100vmax;
      overflow: hidden;
      position: absolute;
      right: 30px;
      top: -30px;
    }
  }
}


.form-card{
  border: 1px solid var(--clr-accent-50);
  // C3C3C3
}