// input[type="text"],
// input[type="password"],
// input[type="number"],
// input[type="email"],
// input[type="search"],
// select.form-control {
//   &.form-control {
//     // border-radius: 0;
//     border: none;
//     // padding: 0.5em 0.6em;
//     // font-size: 0.88rem;
//     // background: #f0f0f0;
//     border-radius: 5px;
//     // height: 45px;
//     &:focus {
//       outline: 0;
//       box-shadow: none;
//       // border: 1px solid colors.$successColor;
//     }
//   }
// }

.control-wrapper-merge-button {
  display: flex;
  align-items: center;
  height: var(--size-600);
  border-radius: 5px;
  padding: 0.5em 0.9em 0.5em 0;
  input {
    height: 100%;
    background-color: unset;
    border: none;
    &:focus {
      outline: 0;
      box-shadow: none;
      background-color: unset;
    }
  }
  button {
    height: 100%;
    width: auto;
    background: unset;
    border: 0;
  }
}


